.workspace {
    max-width: 900px;
    margin: 3rem auto;
}

@media screen and (max-width:1000px) {
    .workspace {
        max-width: calc(100% - 2rem);
        margin: 3rem auto;
    }
}


/* @media screen and (max-width:700px) {
    .workspace {
        max-width: 600px;
        margin: 3rem auto;
    }
} */

.text {
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
}

.searchArea {
    display: flex;
    align-items: center;
    position: relative;
    margin: 1rem 0;
}

.searchArea_placeholder {
    color: rgb(198, 198, 198);
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: -12px;
    left: 20px;
    transition: all .5s ease;
    z-index: 100;
}

.searchArea_message {
    position: absolute;
    bottom: -45px;
    background-color: #ff4d0022;
    color: #FF4C00;
    padding: .5rem;
    border-radius: .3rem;
    animation: appear 1s ease;
}

@keyframes appear {
    0% {
        transform: translateX(-30px);
        opacity: 0;
    }
}

.searchArea_input {
    background-color: rgb(242,242,242);
    border-radius: 1rem;
    padding: 1rem;
    outline: none;
    width: 100%;
    border: 2px solid rgb(214, 214, 214);
    transition: .5s ease;
}

.searchArea_placeholder:before {
    content: "";
    position: relative;
    display: block;
    width: calc(100% + 2*4px);
    height: 2px;
    top: 12px;
    background: rgb(242, 242, 242);
    z-index: -1;
    left: -4px;
}

.searchArea_input:hover {
    border: 2px solid rgb(183, 183, 183);
}

.searchArea_input:hover + .searchArea_placeholder {
    color: rgb(169, 169, 169);
}

.searchArea_input:focus + .searchArea_placeholder {
    color: rgb(42,94,246);
}

.searchArea_input:focus {
    border: 2px solid rgb(42,94,246);
}

.button {
    background-color: #0D5FFF;
    padding: .5rem 1rem;
    color: #fff;
    border-radius: .5rem;
    transition: .5s ease;
}

.button:hover {
    background-color: #0d5effe4;
    padding: .5rem 1rem;
    color: #fff;
    border-radius: .5rem;
}

.button.button_disabled {
    background-color: #9c9c9c54;
    color: #9c9c9c;
    pointer-events: none;
}

.searchArea_button {
    background-color: #0D5FFF;
    padding: .5rem 1rem;
    color: #fff;
    border-radius: .5rem;
    transition: .5s ease;
    height: fit-content;
    position: absolute;
    right: 10px;
    user-select: none;
}

.searchArea_button:hover {
    background-color: #0d5effe4;
    padding: .5rem 1rem;
    color: #fff;
    border-radius: .5rem;
}

.searchArea_button_disabled {
    background: rgb(226, 226, 226);
    color: rgb(96, 96, 96);
    pointer-events: none;
}

/* Tests Area */

.testBlocks {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.testBlock {
    width: calc(50% - 1rem);
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin: .5rem;
    display: flex;
    align-items: center;
    transition: box-shadow .5s ease;
    justify-content: space-between;
}

@media screen and (max-width:900px) {
    .testBlock {
        width: 100%;
    }
}

.testBlock_united {
    display: flex;
    align-items: center;
}

.testBlock:hover {
    box-shadow: 0 0 5px rgba(152, 152, 152, 0.501);
}

.testBlock_icon {
    margin-right: .5rem;
}

.testBlock_button {
    margin-left: 1rem;
}

.testBlock_content_title {
    font-size: 16px;
}

.testBlock_content_secondary {
    font-size: 14px;
}
/* Tests Area End */

.circle {
    animation: dash 2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
@keyframes dash {
    0% {
        stroke-dashoffset: calc(2*pi*50);
    }
}


.cls {
    animation: circleAppear 1s ease backwards;
    transform-origin: center;

}

@keyframes circleAppear {
    0% {
        opacity: 0;
        transform: scale(.9); 
    }
}

.cls1 {
    animation-delay: 0!important;

}

.cls2 {
    animation-delay: .5s!important;

}

.cls3 {
    animation-delay: 1s!important;

}

.pls {
    stroke-dasharray: 50;
    stroke-dashoffset: 0;
    animation: pathAppear .5s ease backwards 1.5s;

}

@keyframes pathAppear {
    0% {
        opacity: 0;
        stroke-dashoffset: 50;
        
    }
}