.button {
    width: fit-content;
    height: fit-content;
    background-color: var(--blue);
    padding: .5rem 1rem;
    color: #fff;
    border-radius: .5rem;
    transition: .5s ease;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.button.button_large {
    padding: 1rem 2rem;
}

.button:hover {
    background-color: var(--diffused-blue);
    color: #fff;
}

.button_secondary {
    background-color: var(--secondary-blue);
    color: var(--blue);
}

.button_secondary:hover {
    background-color: var(--secondary-diffused-blue);
    color: var(--blue);
}

.button:not(:first-child){
    margin-left: .5rem;
}

.buttons {
    display: flex;
    width: fit-content;
    margin: 1rem auto 0;
    align-items: center;
}

.button.button_disabled {
    background-color: var(--secondary-grey);
    color: var(--grey);
    pointer-events: none;
}