.workspace {
    max-width: 800px;
    margin: 3rem auto;
}

@media screen and (max-width:calc(800px + 2rem)) {
    .workspace {
        max-width: calc(100% - 2rem);
        margin: 3rem auto;
    }
}

.contentBlock {
    padding: 1rem;
    border-radius: .5rem;
    background-color: #fff;
    margin-bottom: 1.5rem;
}

.contentHeader {
    margin: 1rem .5rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.contentSpan {
    display: flex;
    margin: 1rem .5rem;
}

.contentSpan_title {
    color: grey;
}

.contentSpan_title_info {
    font-style: italic;
    font-size: .9rem;
}

.contentSpan_value {
    margin-left: 1rem;
    color: var(--dark-blue);
}

.table_td, .table_th {
    padding: .5rem;
    border: 1px solid rgba(128, 128, 128, 0.202);
    text-align: center;
}

.table_th {
    background-color: #f5f5f5;
}

.greenCell {
    background-color: rgba(0, 128, 0, 0.118);
    color: green;
}

.greyCell {
    background-color: rgba(128, 128, 128, 0.168);
    color: grey;
}

.stickyHeader {
    background-color: #fff;
    position: sticky;
    top: 0;
}

.stickyHeader:before{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:#e5e5e5;
    z-index: -1;
}

.selectedRow {
    background-color: var(--diffused-dark-blue);
    color: var(--dark-blue);
}

.redLine .table_td {
    border-bottom: 3px solid red;
}

.contentPlaceholder {
    background-color: currentColor;
    opacity: .1;
}


.contentPlaceholder_sx {
    width: 30px;
}
.contentPlaceholder_sy {
    width: 45px;
}

.contentPlaceholder_lx {
    width: 200px;
}
.contentPlaceholder_ly {
    width: 250px;
}

.scrolled {
    animation: pulstr 1.5s ease infinite;
}

@keyframes pulstr {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.nTable tr:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9f9f9;
    z-index: -1;
    border-radius: .5rem;
}

.nTable tbody tr {
    cursor: pointer;
}

.nTable tbody tr:before {
    transition: all .5s ease;
}

.nTable tbody tr:hover:before {
    background: #f8f8f8;
}

.nTable tr {
    position: relative;
    z-index: 2;
}

.nTable thead tr:before {
    z-index: -1;
    background-color: #efefef;
}


.nTable {
    border-collapse: separate;
    border-spacing: 4px 10px;
    width: 100%;
}

.nTbale td,.nTable th {
    border: none!important;
}

.nTable td, .nTable th {
    padding: 1rem!important;
    text-align: left;
}

.nTable th {
    font-weight: 500;
}

/* .nTable .td_centered {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.nTable td svg {
    display: inline-block;
}