.workspace {
    max-width: 800px;
    margin: 3rem auto;
}

@media screen and (max-width:calc(800px + 2rem)) {
    .workspace {
        max-width: calc(100% - 2rem);
        margin: 3rem auto;
    }
}

.tasksBar {
    background-color: #fff;
    border-radius: 1rem;
    margin: 1rem auto;
    width: fit-content;
    display: flex;
    padding: 1rem;
}

.tasksBar_cell {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #1e55c4;
    padding: 1rem;
    background-color: #1e55c422;
    margin: 0 .3rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .5s ease;
}

.tasksBar_cell_active {
    border: 2px solid #1e55c4;
    font-weight: 600;
}

.tasksBar_cell:hover {
    background-color: #1e55c455;
}

.tasksBar_cell_valid {
    background-color: #0aba0721;
    color: #0ABA07;
}

.tasksBar_cell_valid:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    right: -7px;
    top: -7px;
    background-color: #0ABA07;
    border: 3px solid #fff;
    transform: scale(0);
    transition: transform .2s ease;
}

.tasksBar_cell_valid:not(.tasksBar_cell_active):before {
    transform: scale(1);
}

.tasksBar_cell_valid:hover {
    background-color: #0aba0759;
    color: #0ABA07;
}

.tasksBar_cell_active.tasksBar_cell_valid {
    border: 2px solid #0ABA07;
    font-weight: 600;
}


.tasksBar_cell_invalid {
    background-color: #ff4d0040;
    color: #FF4C00;
}

.tasksBar_cell_invalid:hover {
    background-color: #ff4d0078;
    color: #FF4C00;
}

.tasksBar_cell_active.tasksBar_cell_invalid {
    border: 2px solid #FF4C00;
    font-weight: 600;
}

.tasksBar_cell_invalid:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    right: -7px;
    top: -7px;
    background-color: #FF4C00;
    border: 3px solid #fff;
    transform: scale(0);
    transition: transform .2s ease;
}

.tasksBar_cell_invalid:not(.tasksBar_cell_active):before {
    transform: scale(1);
}


.tasksBar_cell_partly {
    background-color: rgba(229, 197, 54, 0.285);
    color: rgb(229, 197, 54);
}

.tasksBar_cell_partly:hover {
    background-color: rgba(229, 197, 54, 0.456);
    color: rgb(229, 197, 54);
}

.tasksBar_cell_active.tasksBar_cell_partly {
    border: 2px solid rgb(229, 197, 54);
    font-weight: 600;
}

.tasksBar_cell_partly:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    right: -7px;
    top: -7px;
    background-color: rgb(229, 197, 54);
    border: 3px solid #fff;
    transform: scale(0);
    transition: transform .2s ease;
}

.tasksBar_cell_partly:not(.tasksBar_cell_active):before {
    transform: scale(1);
}


.tasksBar_cell_waiting {
    background-color: #9c9c9c3c;
    color: #9c9c9c;
}

.tasksBar_cell_waiting:hover {
    background-color: #9c9c9c6e;;
    color: #9c9c9c;
}

.tasksBar_cell_active.tasksBar_cell_waiting {
    border: 2px solid #9c9c9c;
    font-weight: 600;
}

.tasksBar_cell_waiting:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    right: -7px;
    top: -7px;
    background-color: #9c9c9c;
    border: 3px solid #fff;
    transform: scale(0);
    transition: transform .2s ease;
}

.tasksBar_cell_waiting:not(.tasksBar_cell_active):before {
    transform: scale(1);
}

.tasksBar_cell_finish {
    /*  */
}


.taskArea {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
}

.taskArea_header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.taskArea_title {
    color: rgb(126, 126, 126);
}

.taskArea_status {
    background-color: #ffffff00;
    color: #ffffff00;
    padding: .5rem;
    border-radius: .5rem;
    font-size: 14px;
    transition: all .5s ease;
    display: none;
}

.taskArea_status_correct {
    background-color: #0aba0715;
    color: #0ABA07;
    display: block;
}

.taskArea_status_incorrect {
    background-color: #ff4d003a;
    color: #FF4C00;
    display: block;
}

.taskArea_status_partly {
    background-color: rgba(229, 197, 54, 0.217);
    color: rgb(229, 197, 54);
    display: block;
}

.taskArea_status_waiting {
    background-color: #9c9c9c1c;
    color: #9c9c9c;
    display: block;
}




.button {
    background-color: #0D5FFF;
    padding: .5rem 1rem;
    color: #fff;
    border-radius: .5rem;
    transition: .5s ease;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.button:hover {
    background-color: #0d5effd5;
    padding: .5rem 1rem;
    color: #fff;
    border-radius: .5rem;
}

.button_secondary {
    background-color: #0d5eff27;
    color: #0D5FFF;
}

.button_secondary:hover {
    background-color: #0d5eff51;
    color: #0D5FFF;
}

.button:not(:first-child){
    margin-left: .5rem;
}

.taskArea_buttons {
    display: flex;
    width: fit-content;
    margin: 1rem auto 0;
}

.button.button_disabled {
    background-color: #9c9c9c54;
    color: #9c9c9c;
    pointer-events: none;
}

/*  */

.answerArea {
    display: flex;
    align-items: center;
    position: relative;
    margin: 2rem auto 0;
    max-width: 500px;
}

.answerArea_placeholder {
    color: rgb(198, 198, 198);
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    top: -12px;
    left: 20px;
    transition: all .5s ease;
    z-index: 100;
}

.answerArea_input {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 1rem;
    padding: 1rem;
    outline: none;
    width: 100%;
    border: 2px solid rgb(214, 214, 214);
    transition: .5s ease;
}

.answerArea_input_empty {
    /* background-color: red; */
}

.answerArea_placeholder:before {
    content: "";
    position: relative;
    display: block;
    width: calc(100% + 2*4px);
    height: 2px;
    top: 12px;
    background: rgb(255, 255, 255);
    z-index: -1;
    left: -4px;
}

.answerArea_input:hover {
    border: 2px solid rgb(183, 183, 183);
}

.answerArea_input:hover + .answerArea_placeholder {
    color: rgb(169, 169, 169);
}

.answerArea_input:focus + .answerArea_placeholder {
    color: rgb(42,94,246);
}

.answerArea_input:focus {
    border: 2px solid rgb(42,94,246);
}

.answer_label {
    display: block;
    background-color: rgba(13, 95, 255, 0.08);
    color: #1e55c4;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    margin: .5rem 0;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .5s ease;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.answer_label_check {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 1rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.answer_label_check:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    border-radius: .5rem;
    border: 2px solid #1e55c43b;
    transition: all .5s ease;
}

.answer_label_check:after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background-color: #ffffff;
    border-radius: .25rem;
    background-color: #1e55c4;
    transition: all .5s ease;
    transform: scale(0);
}

.answer_label_check:checked:after {
    transform: scale(1);
}

.answer_label:hover .answer_label_check:before {
    border: 2px solid #1e55c46c;
}
.answer_label:hover {
    background-color: rgba(13, 94, 255, 0.136);
}

/*  */

.taskArea_html {
    margin-bottom: 1rem;
}

.codeArea {
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 1rem;
    padding: 1rem;
    outline: none;
    width: 100%;
    border: 2px solid rgb(214, 214, 214);
    transition: .5s ease;
}

.codeArea_placeholder {
    color: rgb(198, 198, 198);
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    top: -14px;
    left: 20px;
    transition: all .5s ease;
    z-index: 100;
}

.codeArea_placeholder:before {
    content: "";
    position: relative;
    display: block;
    width: calc(100% + 2*4px);
    height: 2px;
    top: 12px;
    background: rgb(255, 255, 255);
    z-index: -1;
    left: -4px;
}

.codeArea_rightMenu {
    position: absolute;
    right: 0;
    top: 0px;
    z-index: 2;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    background-color: rgba(255, 255, 255, 0.778);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);
    
}

.codeArea_rightMenu_message {
    background-color: #70707016;
    color: #707070;
    padding: .5rem;
    font-size: .8rem;
    border-radius: .3rem;
    z-index: 0;
    margin: .5rem 0 0 0;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Consolas,Liberation Mono,Menlo,monospace!important;
    width: fit-content;
}

.codeArea_rightMenu_message.codeArea_rightMenu_message_red {
    background-color: #ff4d0022;
    color: #ff4d00;
}

.codeArea_ws {
    background-color: #ffffff!important;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Consolas,Liberation Mono,Menlo,monospace!important;
    font-size: .9rem!important;
}

.codeArea_focused {
    border: 2px solid #0D5FFF;
}

.codeArea_focused .codeArea_placeholder {
    color: #0D5FFF;
}

.selectBox {
    max-width: 200px;
    position: relative;
    margin: 0;
    z-index: 2;
}

.selectBox_selectArea {
    background-color: rgba(255, 255, 255, 0);
    border-radius: .5rem;
    font-size: 14px;
    color: rgb(98, 98, 98);
    padding: .5rem 1rem;
    outline: none;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgb(214, 214, 214);
    transition: .5s ease;
    background: url("data:image/svg+xml,%3Csvg id='Слой_1' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 150.61 85.91'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23000;stroke-miterlimit:10;stroke-width:15px;opacity:0.4;%7D%3C/style%3E%3C/defs%3E%3Cpolyline class='cls-1' points='145.31 5.3 75.31 75.31 5.3 5.3'/%3E%3C/svg%3E") no-repeat calc(100% - 15px) / 12px;
    background-color: #fff;
    padding-right: 3rem;
    z-index: 100;
}

.selectBox_selectArea:hover {
    border: 1px solid rgb(182, 182, 182);
}

.selectOptions {
    overflow: hidden;
    pointer-events: none;
    top: 0px;
    left: 0;
    right: 0;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: .5rem;
    font-size: 14px;
    color: rgb(98, 98, 98);
    border: 1px solid rgb(214, 214, 214);
    z-index: 2;
    transform: scale(0.7);
    opacity: 0;
    transition: all .3s ease;
}

.selectBox.selectBox_opened .selectOptions {
    top: 45px;
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
}

.selectOption {
    padding: .5rem 1rem;
    cursor: pointer;
    background: url("data:image/svg+xml,%3Csvg id='Слой_1' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 171.29 169.47'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%232e54bd;stroke-miterlimit:10;stroke-width:20px;%7D%3C/style%3E%3C/defs%3E%3Cpolyline class='cls-1' points='164.81 3.78 75.31 157.28 5.3 87.28'/%3E%3C/svg%3E") no-repeat calc(100% - 15px) / 0px;
    transition: all .3s ease;
}

.selectOption.selectOptionChecked {
    color: #1e55c4;
    background: url("data:image/svg+xml,%3Csvg id='Слой_1' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 171.29 169.47'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%232e54bd;stroke-miterlimit:10;stroke-width:20px;%7D%3C/style%3E%3C/defs%3E%3Cpolyline class='cls-1' points='164.81 3.78 75.31 157.28 5.3 87.28'/%3E%3C/svg%3E") no-repeat calc(100% - 15px) / 13px;
}

.selectOption:hover {
    background-color: rgb(242, 242, 242);
}